{# templates/main/createArticle.php #}

{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block body %}

    <div class="container-fluid">

        {# titre h1 #}
        <div class="row">
            <h1 class="col-12 text-center my-5 mb-5" >{{ article.title }}</h1>
        </div>

        {#  lien pour retourner à la liste d'article #}
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 text-center">
                <a href="{{  path('blog_publication_list') }}">Retour liste des articles</a>
            </div>
        </div>

        {# Affichage de l'article #}
        <div class="blockquote mb-0">
            <footer class="blockquote-footer mt-1 mb-2">
                Publié le <strong class="text-light" >{{ article.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong class="text-light">{{ article.author.pseudonym }}</strong>
            </footer>
            <div class="mb-2">{{ article.content|purify }}</div>
            {# si l'utilisateur a le role admin, on affiche un menu avec des boutons permettant de mofiier/supprimer l'article #}
            {% if is_granted('ROLE_ADMIN') %}
                <p class="mb-0 mt-3">
                    <a href="{{ path ('blog_publication_edit', {id: article.id}) }}"><i class="fas fa-edit me-1"></i>Modifier</a>
                    {#
                    Bouton de supression composé de :
                    - onclick ="" pour demander une confirmation de suppresion grâce à la fonction confirm() de javascript
                    - un token csrf en donnée d'url pour empêcher les attaques Csrf
                    #}
                    <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette publication ?')" class="text-danger" href="{{ path('blog_publication_delete', { id : article.id, csrf_token : csrf_token('blog_publication_delete_' ~ article.id ) }) }}"><i class="fas fa-trash me-1"></i>Supprimer</a>
                </p>
            {% endif %}
        </div>


    </div>

{% endblock %}